:root {
    --color-primary: #193f52;
    --color-primary-dark: #16394a;
    --color-primary-darker: #153646;
    --color-primary-darkest: #112c39;
    --color-primary-light: #1b455a;
    --color-primary-lighter: #1d485e;
    --color-primary-lightest: #20526b;
    --color-secondary: #81cbdf;
    --color-secondary-dark: #65bfd8;
    --color-secondary-darker: #57bad4;
    --color-secondary-darkest: #32a5c4;
    --color-secondary-light: #9dd7e6;
    --color-secondary-lighter: #abdcea;
    --color-secondary-lightest: #d5eef4;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--color-primary);
    width: 100vw;
    height: 100vh;
    font-size: 26px;
    font-family: "Roboto", sans-serif;
    overflow: hidden;
    color: var(--color-secondary);
}

@media only screen and (max-width: 480px) {
    body {
        font-size: 18px;
    }
}

@media only screen and (max-width: 960px) {
    body {
        font-size: 22px;
    }
}

#chart,
#hotkeys,
#host {
    position: absolute;
}

#hotkeys {
    padding: 16px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: var(--color-primary-lightest);
}

#hotkeys li span {
    text-decoration: underline;
}

#host {
    bottom: 48px;
    text-align: center;
    width: 100vw;
    color: var(--color-primary-lightest);
}

svg text {
    user-select: none;
    z-index: -1;
}

svg circle:not(#MQTT_BROKER_CENTER):hover {
    cursor: grab;
}

svg circle:not(#MQTT_BROKER_CENTER):active {
    cursor: grabbing;
}
