:root {
    --color-primary: #193f52;
    --color-primary-dark: #16394a;
    --color-primary-darker: #153646;
    --color-primary-darkest: #112c39;
    --color-primary-light: #1b455a;
    --color-primary-lighter: #1d485e;
    --color-primary-lightest: #20526b;
    --color-secondary: #81cbdf;
    --color-secondary-dark: #65bfd8;
    --color-secondary-darker: #57bad4;
    --color-secondary-darkest: #32a5c4;
    --color-secondary-light: #9dd7e6;
    --color-secondary-lighter: #abdcea;
    --color-secondary-lightest: #d5eef4;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--color-primary);
    width: 100vw;
    height: 100vh;
    font-size: 26px;
    font-family: "Roboto", sans-serif;
    overflow: hidden;
    color: var(--color-secondary);
    cursor: wait;
}

@media only screen and (max-width: 480px) {
    body {
        font-size: 18px;
    }
}

@media only screen and (max-width: 960px) {
    body {
        font-size: 22px;
    }
}

#messages,
#chart,
#hotkeys,
#host {
    position: absolute;
}

#hotkeys {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    color: var(--color-primary-lightest);
}

ul {
    list-style: none;
}

li {
    cursor: pointer;
    padding: 8px;
    margin: -8px;
    outline: none;
    transition: transform 0.2s;
}

li:hover,
li:focus {
    background-color: var(--color-primary-lightest);
    color: var(--color-primary);
}

li.active,
li:active {
    background-color: var(--color-primary-lighter);
    transform: scale(0.95);
}

li span {
    text-decoration: underline;
}

#host {
    bottom: 2vh;
    text-align: center;
    width: 100vw;
    color: var(--color-primary-lightest);
}

svg text {
    user-select: none;
    z-index: -1;
}

svg circle:not([data-topic=MQTT_BROKER_CENTER_NODE_ID]):hover {
    cursor: grab;
}

svg circle:not([data-topic=MQTT_BROKER_CENTER_NODE_ID]):active {
    cursor: grabbing;
}

::backdrop {
    background-image: linear-gradient(
        45deg,
        var(--color-primary-darker),
        var(--color-primary-darkest)
    );
    opacity: 0.8;
}

dialog {
    background: var(--color-primary);
    outline: none;
    border: none;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 0 16px 0 var(--color-primary-darkest);
    min-width: 320px;
    color: white;
    align-self: center;
    justify-self: center;
}

button {
    display: block;
    height: 48px;
    font-size: 24px;
    background: none;
    border: none;
    border-radius: 4px;
    color: var(--color-primary-lightest);
    transition: all 0.2s;
    cursor: pointer;
}

button:hover {
    background: var(--color-primary-lightest);
    color: var(--color-primary);
}

button:active {
    background: var(--color-primary-lighter);
    transform: scale(0.95);
}

button.secondary {
    background: var(--color-secondary-lightest);
    color: var(--color-primary-darkest);
}

button.secondary:hover {
    background: var(--color-secondary-light);
}

input {
    background: var(--color-primary-darkest);
    color: var(--color-secondary-light);
    border: none;
    font-size: 18px;
    padding: 4px 8px;
    height: 40px;
}

#hiddenNodes {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

#hiddenNodes h1 {
    font-size: 28px;
    line-height: 22px;
    padding: 5px 0;
}

#hiddenNodes label {
    font-size: 16px;
}

#hiddenNodes button.close {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 32px;
    height: 32px;
}

#hiddenNodes li {
    cursor: no-drop;
    font-size: 14px;
    margin: 4px 0;
}

#messages {
    right: 8px;
    pointer-events: none;
}

#messages li {
    font-size: 16px;
    width: 320px;
    padding: 8px;
    margin: 8px;
    display: flex;
    flex-direction: column;
    background-color: var(--color-primary-lighter);
    border-radius: 4px;
}

#messages li .topic {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2px;
}

#messages li .topic time {
    opacity: 0.3;
    font-size: 12px;
}

#messages li .message {
    font-family: monospace;
    color: var(--color-secondary-lightest);
    font-size: 14px;
    margin-top: 8px;
}

#messages li .clientId {
    color: var(--color-primary-darkest);
    font-size: 12px;
    font-style: italic;
}
